.body
{
  margin-top: 25px;
  margin-left: 25px;
}
.container
{   
    
    background-color: whitesmoke;
    height: 1310px;
    width: 83%;
}
.contain2
{
    width: 81%;
    height: 138px;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.item
{
    width: 342px;
    height: 40px;
   
    margin-right: 24px;
    padding-left: 10px;
}

#lege
{
    width: 327px;
    height: 33px;
}