*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins' , sans-serif;
   height: 720px;
   width: 1560px;
   background: #FAFAFA 0% 0% no-repeat padding-box;
}

/* .hero1
{
    margin-top: 52px;
    margin-bottom: 52px;
    margin-left:148px;
} */

.hero{
    position: relative;
    height: 576px;
    width: 576px;
    border-radius: 50%;
    border: 20px solid white;
    float: left;
    box-shadow: 0px 4px 31px #0000000A;
}
.container{
    position: relative;
    top:72px;
    bottom: 72px;
    left:166px;
}
.logo{
    position: relative;
   
    width:272px;
    height:58px;
    top:34px;
}
/* .img{
    display: flex;
    justify-content: flex-end;
}
.img img{
    width: 500px;
} */
.login-container{
    position: relative;
    float: left;
    
    width: 500px;
    left:163px;
   
}
.text
{
    position:relative;
   text-align: left;
    top: 53px;
    font: normal normal 300 45px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
.login
{
    position:relative;
    font: normal normal normal 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
    
    top: 84px
}
.user
{
    position: relative;
   top: 107px;
    
   
}
#us
{
    width: 429px;
    height:49px;
    border-radius: 5px;
    padding: 14.63px 346.5px 14.3px 14.5px;
    font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
border: 1px solid #ADADAD;
}
#pd
{
    width: 429px;
    height:49px;
    border-radius: 5px;
    padding: 14.63px 346.5px 14.3px 14.5px;
    font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
border: 1px solid #ADADAD;
}
.pass
{
    position: relative;
    top: 134px;
    
   
}
.but
{
    position:relative;
    float:left;
   
    top:164px;
    width: 138px;
    height: 45px;
}
#btn
{
    width: 138px;
height: 45px;
background: #C8242F 0% 0% no-repeat padding-box;
border-radius: 23px;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
border:none;
}
.fpg
{
    position:relative;
    float:right;
    top:176px;
    right:72px;
    font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
    
}
#confirm
{
    position: relative;
    top: 220px;
    font-size: 11px;
    right: 138px;
    text-decoration:none;
}
#search
{
    position: relative;
    top: 28px;
left: 321px;
width: 49px;
height: 21px;
}