

body{
    background-color: #f7f1f0;
}
#img1
{
    border-radius: 50%;
    border: 20px solid whitesmoke;
    height: 478px;
    width: 491px;
    margin-top: 45px;
    margin-left: 166px;
    margin-bottom: 72px;

}
.main{
   
    display: flex;
    position: absolute;
   
width: 1500px;
height: 600px;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 85%;
    width: 90%; */
    justify-content: space-between;
    
    background-color: antiquewhite;
}
#img2
{
    margin-top:4em;
}
.item1{    background-color: yellow;
    wid: 500px;
    flex-grow: 1;
    width: 680px;
    
}
.item2{
background-color: aquamarine;
display: flex;
justify-content: center;
flex-grow: 2;
}
.iteam211{
    margin-top: 3%;
    font-size: 20px;
}