header{
    height: 80px;
    width:100%
}
#menu{
    position: relative;
    left:29px;
    top:34px;
    float:left;
}
#logo
{
    position: relative;
    float: left;
    top: 32px;
    left: 48px;
    height: 30px;
    width: 142px
}
#search
{
    position: relative;
    float:left;
    top: 40px;
    left: 136px;
width: 16px;
height: 16px;
}
#etxts
{
    position: relative;
    float:left;
    top: 36px;
    left: 154px;
width: 49px;
height: 21px;
font: 16px/21px Roboto;
}
#bell
{
    position:relative;
    top:40px;
    width: 22px;
height: 21px;
float:right;
right:244px;
}
#profile
{
    position: relative;
    top:28px;
    width: 44px;
height: 44px;
float: right;
right: 148px;
}
#name
{
    position: relative;
    top: 40px;
    width: 68px;
    height: 21px;
    float: right;
    right: 14px
}
#arrow
{
    position: relative;
    height: 17px;
    top: 41px;
    float: right;
    width: 36px;
    left: 83px;
}
.asi-con
{
    display: flex;
    justify-content: space-between;
}
.sidebar
{
    /* background: #FFF3F4 0% 0% no-repeat padding-box; */
    width: 183px;
    height: 43px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #C8242F;
margin-bottom: 6%;



}
#asi
{
    margin-bottom: 10px;
    font-size: 19px;
    color: #C8242F;
}
.icon{
    width: 23px;
    height: 34px;
    margin-left: 17px;
    padding-right: 10px;
    position: relative;
    top: 10px;
 }
 .names
 {
    margin-left: 12px;
 }
 .options
 {
    margin-top: 2%;
    margin-left: 2%;
    width: 14%;
    height: 1279px;
    display: flex;
    flex-direction: column;
 }
 #ana
 {
    margin-top:10px;
 }
 #inb
 {
    margin-top:10px;
 }
 #his
 {
    margin-top:10px;
 }
 #user
 {
    margin-top:10px;
 }
 #set
 {
    margin-top:10px; 
 }
    /* position: relative; */
    /* left: 22px; */
    /* padding-left: 10px;
    padding-right: 10px; */
.container
{   
    
    background-color: whitesmoke;
    height: 1310px;
    width: 83%;
}
    
#head1
{
   
    width: 146px;
    margin-left: 5%;
    margin-top: 39px;
    height: 39px;
    font-size: 30px;
    color: #000000;
}


.items
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 26px;
    justify-content: space-between;
    width: 92%;
   
}
.item
{   
    display: flex;
    width: 202px;
    height: 104px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    justify-content: center;
    align-items: center;
}
#star
{
    height: 40px;
    width: 40px;
    margin-left: 20px
}
#no
{
    width: 77px;
    font-size: 27px;
    height: 33px;
    margin-top: 17px;
    margin-bottom: 2px
}
#info
{
    padding-left: 10px;
}
#desc
{
    width: 113px;
    height: 20px;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 17px;
}

.midcontain
{   
    display: flex;
    background: white;
    top: 100px;
    left: 4%;
    margin-left: 5%;
    margin-top: 49px;
    width: 92;
    width: 92.7%;
    /* height: 400px; */
    justify-content: space-between;
    background: #FAFAFA 0% 0% no-repeat padding-box;
}
.graph
{
    background-color: white;
    width: 65%;
   
}
.pie
{
    background-color: white;
   
    width: 32%;
   
}
a{
    text-decoration: none;
    color: #ADADAD;
}
.sale
{
    display: flex;
    
    background-color: white;
    align-items: center;
    justify-content: space-between
}
#text
{
    font-size: 22px;
    margin-left: 20px
   
}
.links
{
    padding: 10px;
}

#data-graph
{
    width: 94%;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
}
#text1
{
    padding-left: 29px;
    /* padding-top: 21px; */
    font-size: 22px
}
#pie-chart
{
    margin-left: 64px;
   width:66%;
}
.country
{
  
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-right: -21px;
    margin-left: 48px;
}
.radio
{
    height: 34px;
    width: 34px;
}
.radco
{
    width:120px;
}
.ad
{
    display: inline-block;
    margin-bottom: 0px;
    position: relative;
    bottom: 10px;
}
.links{
    border-bottom: 1px solid red;
}
.bdy{
    width: 92.7%;
    height: 672px;
    margin-left: 5%;
    margin-top: 35px;
    
    background-color: white
}
.h{
        
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 38px;
}
.tab
{
    margin-left: 31px;
    width: 94%;
}
#in{
    width: 82px;
    height: 29px;
    margin-left: 35px;
    font: 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;

}
#v{

    width: 43px;
    height: 16px;
    font: 12px/16px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    margin-right: 35px;
}
.inv{
    padding-left: 30px;
}
.co{
   
    padding-left: 60px;
    text-align: left;
}
.em{
    padding-left: 110px;
    text-align: left;
}
.du{
    padding-left: 55px;
    text-align: left;
}
.st{
    padding-left: 70px;
    text-align: left;
}
.am{
    padding-left: 80px;
    text-align: left;
}
.hw1{
    width: 61px;
height: 20px;
font: normal normal normal 12px/20px Roboto;
letter-spacing: 1.5px;
color: #ADADAD;
display: inline;
}
.hw{
    width: 61px;
height: 20px;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
display: inline;
padding-top: 27px;
}
td{
   position: relative;
    padding-top: 25px;
    padding-bottom: 12px;
    border-top: 1px solid #E9E9E9 ;
}
.high{
    width: 50px;
height: 26px;
/* UI Properties */
background:#cbf6d3 0% 0% no-repeat padding-box;
border-radius: 5px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3CDD5F;
}

@media screen and (max-width:855px) {
    .midcontain
    {
        flex-direction: column;
    background-color: whitesmoke;
    }
    .graph{
        margin: auto;
        background: whitesmoke;
        width:98%;
    }
    .pie{
        margin: auto;
        margin-top: 14px;
        background: whitesmoke;
        width:41%;
    }
    .container
    {
        background-color: whitesmoke;
    }
    
}